<div class="page-wrapper">
  <div [hidden]="stage !== 1" class="stage-1">
    <img src="assets/images/1/mobile-usage.png" alt="mobile usage" />
  </div>
  <div class="stage-2" [hidden]="stage < 2">
    <h2>Natív funkciók kihasználása</h2>
    <ul>
      <li [hidden]="stage < 3">Kamera</li>
      <li [hidden]="stage < 4">Hangfelvevő</li>
      <li [hidden]="stage < 5">Gyroscope</li>
      <li [hidden]="stage < 6">Filerendszer</li>
      <li [hidden]="stage < 7">Értesítések</li>
      <li [hidden]="stage < 8">NFC</li>
      <li [hidden]="stage < 9">Stb..</li>
    </ul>
  </div>
</div>
