<div class="page-wrapper">
  <div class="stage-1" [hidden]="stage !== 1">
    <div class="brands">
      <img src="assets/images/4/ionic.png" alt="ionic" />
      <img src="assets/images/4/react-native.png" alt="react native" />
      <img src="assets/images/4/flutter.png" alt="flutter" />
      <img src="assets/images/4/native-script.png" alt="native script" />
      <img src="assets/images/4/xamarin.png" alt="xamarin" />
      <img src="assets/images/4/phone-gap.png" alt="phone gap" />
    </div>
    <p>?</p>
  </div>
  <div class="stage-2" [hidden]="stage !== 2">
    <table>
      <tr>
        <td>&nbsp;</td>
        <td><img src="assets/images/4/ionic.png" alt="ionic" /></td>
        <td><img src="assets/images/4/react-native.png" alt="react-native" /></td>
        <td><img src="assets/images/4/flutter.png" alt="flutter" /></td>
        <td><img src="assets/images/4/native-script.png" alt="native-script" /></td>
        <td><img src="assets/images/4/xamarin.png" alt="xamarin" /></td>
        <td><img src="assets/images/4/phone-gap.png" alt="phone-gap" /></td>
      </tr>
      <tr>
        <td>Type</td>
        <td>Hybrid</td>
        <td>Native</td>
        <td>Native</td>
        <td>Native</td>
        <td>Hybrid</td>
        <td>Hybrid</td>
      </tr>
      <tr>
        <td>Programming Language</td>
        <td>JavaScript</td>
        <td>JavaScript</td>
        <td>Dart</td>
        <td>JavaScript</td>
        <td>C#</td>
        <td>JavaScript</td>
      </tr>
      <tr>
        <td>User interface description language</td>
        <td>HTML</td>
        <td>XML via JSX</td>
        <td>Dart</td>
        <td>XML</td>
        <td>XAML</td>
        <td>HTML</td>
      </tr>
      <tr>
        <td>Supported mobile OS</td>
        <td>Ios, Android</td>
        <td>Ios, Android</td>
        <td>Ios, Android</td>
        <td>Ios, Android</td>
        <td>Ios, Android, Windows phone 8+</td>
        <td>Ios, Android, Windows phone 8+</td>
      </tr>
      <tr>
        <td>Supporters & developers</td>
        <td>Ionic</td>
        <td>Facebook</td>
        <td>Google</td>
        <td>Progress</td>
        <td>Microsoft</td>
        <td>Apache Cordova</td>
      </tr>
      <tr>
        <td>Popular softwares</td>
        <td>Marketwatch, Pacifica, Sworkit, JustWatch, McDonald's, Diesel, Pick</td>
        <td>Facebook, Walmart, Uber, Pinterest, Skype, Instagram</td>
        <td>Alibaba, Google Ads, AppTree, Reflectly, JD Finnance</td>
        <td>MyPuma, California Court Access App, Portable North Pole, UH Now</td>
        <td>Olo foods, Storyo, Captio, Evolve, Transistor Game</td>
        <td>Fan React, Localeur, Snowbuddy, Tripcase, METAR Reader</td>
      </tr>
    </table>
  </div>
</div>
