<ion-content>
  <div class="presentation-wrapper">
      <h1>Köszönöm a figyelmet!</h1>
      <div class="contact">
<!--         <p>
          Az alkalamáz elérhető az alábbi címen: <br/>
          <a href="https://hybrid-mobile-apps.buda.codes/" target="blank">
            https://hybrid-mobile-apps.buda.codes/
          </a>
        </p> -->
        <p>
          Github repo: <br/>
          <a href="https://github.com/budacode/hybrid-mobile-apps/" target="blank">
            https://github.com/budacode/hybrid-mobile-apps/
          </a>
        </p>
      </div>
      <div class="logo-wrapper">
        <img src="assets/images/budacode-logo.svg" alt="budacode logo" />
        <div class="name">
          <h2>Váradi Péter</h2>
          <h3>CTO @ <a href="https://budacode.com" target="blank">Budacode</a></h3>
        </div>
      </div>
  </div>
</ion-content>
