// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$color-budacode-green: #1f6c80;
$color-budacode-yellow: #feff2f;
$color-budacode-grey: #cccccc;

.presentation-wrapper {
  background: $color-budacode-green;
  bottom: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
